html{
  background-color: white;
}
h1{
  background-color: #00acff;
  border: 4px double black; 
}
.regform {
 margin: 0;
  padding: 20px 100;
  color: #000000;
  text-align: center;
}
.logo{
  position  : relative;
  width   : 70%; 
}
h1{
   padding: 20px 100;
   text-align:center;
   text-shadow: 4px 4px 4px rgb(255 31 31 / 30%);

}
h2{
   padding: 20px 100;
   text-align:center;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
h4{
  padding: 20px 100;
   text-align:end;
   text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
img[src='/logos/cover-cut.png']
{
  display:-webkit-inline-box;
  position  :relative;
  width: 25%;
}
input[type="submit"]{
  padding: 10px 10;
  border: 1px solid #1010107a;
  border-radius: 10px;
  font-family: cursive
}
input[type="submit"]:visited {
    color: #800080;
   } 
input[type="submit"]:hover {
  background: -webkit-linear-gradient(#eee, #00acff);
  -webkit-text-fill-color: #000000fc;
  border: 1px solid #00acff;
}
.error{
  background-color: #ff0000;
  margin: 0;
  appearance: none;
  color: #ffffff;
  text-align: center;
  padding: 1px 1;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  width: 600px;
  margin: 0 auto;
  padding: initial 2px 2px 2px;
  border: 1px solid #6361617a;
  border-radius: 10px;
  background: aliceblue
  box-shadow: 10 0 5px 10px #000;
}
.usersbut{
  text-align:right;
  display:inline-flex;
  background-color: #00acff;
  width: auto;
  position: relative;
  margin-right: 10px;
  float: right;
}
.logoblock{
  display:-webkit-inline-box;
  border-radius: 10px;
  width:-webkit-fill-available;
  border: 10px double #00acff;
  background-color: #00acff;
}
.product{
  width: 60%;
  display:inline-grid;
  display:-webkit-inline-box;
}
.product_picture{
}
.product_name{
  text-align:start;
  text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
  font-size: 50px;
}
.product_price{
  text-shadow: 2px 4px 3px rgb(0 0 0 / 30%);
  font-size: 50px;
  text-align:right;
}